<h2>Edit Song</h2>

<form method="POST" action="/songs/<%=@song.slug%>">
    <input value="PATCH" id="hidden" type="hidden" name="_method">
    
    <label for="name">Name</label>  
    <input id="name" type="text" name="song[name]" value="<%=@song.name%>">

    <label for="artist_name">Artist Name</label>
    <input type="text" name="artist[name]" id="artist_name" value="<%=@song.artist.name%>">


    <br><br>
  <%@genres.each do |genre| %>
    <label><%=genre.name%></label>
    <input type="checkbox" name="genres[]" value="<%=genre.id%>" id="<%=genre.name%>" <%='checked' if @song.genres.include?(genre) %>>
  <%end%>

    <input type="submit" value="Save">
</form>